[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LWFBrook90R"]
	path = LWFBrook90R
	url = https://github.com/pschmidtwalter/lwfbrook90r
